@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-grey-800-color: #424242;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
    user-select: none;
    cursor: auto;
}

html {
    height: -webkit-fill-available;
}

body{
    position: relative;
    overflow-y: hidden;
    height: 100dvh;
    width: 100%;
    background-color: #ffffff;
    height: -webkit-fill-available;
}

.btn {
    border: none;
    border-radius: 2px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding-right: 8px;
    padding-left: 8px;
}
.btn:hover {
    background-color: #a3a3a3;
}
.btn:active {
    transform: scale(.98);
}

.icon_btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1.75rem;
    aspect-ratio: 1;
    /* margin-left: 8px; */
    i {
        font-size: 1.25rem;
    }
}

.icon_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.icon_btn:hover {
    i {
        color: #a3a3a3;
    }
}


@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
    animation-name: slide-out;
}

::view-transition-new(root) {
    animation-name: slide-in;
}

@keyframes slide-out {
    to {
        translate: -100vw;
    }
}
@keyframes slide-in {
    from {
        translate: 100vw;
    }
}