* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #808080;
    padding: 1rem;
    margin-bottom: 1rem;
    
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #efefef;
    }
}

form {
    margin: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1rem;

    li {
        margin: 0px 0px 8px 32px;
        cursor: pointer;
        position: relative;
        font-size: 1rem;

        span {
            position: absolute;
            right: 0;

            width: 18px;
            height: 18px;
            font-size: 24px;

            line-height: 18px;
            text-align: center;
        }

        span:hover {
            background-color: #efefef;
            border-radius: 2px;
            border: 1px solid black;
        }
    }

    li::before {
        content: '';
        position: absolute;
        height: 18px;
        width: 18px;
        background-image: url(img/unchecked.png);
        background-size: cover;
        background-position: center;
        left: -24px;
    }

    li.checked {
        color: #808080;
        text-decoration: line-through;
    }

    li.checked::before {
        background-image: url(img/checked.png);
    }
}
